<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Công Ty Gạch Phú Mỹ</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Free HTML Templates" name="keywords">
	<meta content="Free HTML Templates" name="description">
	<link th:href="@{/img/favicon.ico}" rel="icon">
	<div th:replace="fragments/header :: header-css" />
</head>

<body>

	<div th:replace="fragments/header :: header" />

	<div class="container-fluid pb-5">
		<div class="row px-xl-5">
			<div class="col-lg-5 mb-30">
				<div id="product-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner bg-light">
						<div class="carousel-item active">
							<img class="w-100 h-100" th:src="${product.image}" alt="Image">
						</div>
					</div>
					<a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
						<i class="fa fa-2x fa-angle-left text-dark"></i>
					</a>
					<a class="carousel-control-next" href="#product-carousel" data-slide="next">
						<i class="fa fa-2x fa-angle-right text-dark"></i>
					</a>
				</div>
			</div>

			<div class="col-lg-7 h-auto mb-30" th:object="${product}">
				<div class="h-100 bg-light p-30">
					<p th:if="${product.price != null}" class="font-weight-semi-bold mb-4">Giá bán: <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">4.000</span> vnđ</p>
					<p th:if="${product.price == null}" class="font-weight-semi-bold mb-4"><span class="text-danger">Giá bán: Liên hệ</span></p>
					<p>Tên sản phẩm: <span th:text="*{name}">Gạch không nung loại 1</span></p>
					<p>Tình trạng: Còn hàng</p>
					<div class="d-flex align-items-center mb-4 pt-2">
						<button class="btn btn-dark px-3">
							<i class="fa fa-phone-alt text-primary mr-3"></i></i>
							Gọi cho chúng tôi để biết chi tiết về giá và sản phẩm: 
							<a th:text="${session.contactSession.phone}" style="color: #FFD333 ;" th:href="${'tel:'+ session.contactSession.phone}"> 0978 414 433</a>
						</button>
					</div>
					<h6 class="font-weight-semi-bold mb-4">Thông tin sản phẩm</h6>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 30%;">Nguyên Liệu</th>
								<td style="width: 70%;" th:text="*{ingredient}">Đá xay, bột đá, xi măng, phụ gia</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<th>Tiêu chuẩn</th>
								<td th:text="*{standard}">ISO 9001</td>
							</tr>
							<tr>
								<th>Thông số kỹ Thuật</th>
								<td th:text="*{specifications}">Cườn độ chị nén 55</td>

							</tr>
							<tr>
								<th>Kích thức</th>
								<td th:text="*{size}">200 x 10 x 30</td>
							</tr>
							<tr>
								<th>Trọng lượng</th>
								<td th:text="*{weight}">2.0 kg/viên</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row px-xl-5">
			<div class="col">
				<div class="bg-light p-30">
					<div class="nav nav-tabs mb-4">
						<a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Giới thiệu:
							<span th:text="${product.name}"></span></a>
						<!--						<a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>-->
						<!--						<a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>-->
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab-pane-1">
							<h4 class="mb-3">Mô tả sản phẩm</h4>
							<p>Gạch không nung là loại gạch xây, sau khi được tạo hình thì tự đóng rắn để đạt các chỉ số
								cơ học về: Cường độ nén, uốn, độ hút nước... mà không cần gia nhiệt. Độ bền của viên
								gạch không nung được gia tăng nhờ lực ép rung lên các cốt liệu và phụ gia đã được gia
								công trước.
							</p>
							<p>Đây là loại gạch được khuyến khích sử dụng nhiều nhất và được ưu tiên phát triển. Nó đáp
								ứng rất tốt các tiêu chí về kỹ thuật, kết cấu, môi trường, phương pháp thi công. Loại
								gạch này dễ sử dụng, kết dính bằng vữa thông thường. Đặc biệt tiết kiệm được thời gian
								và tài chính, đơn giản hoá được một số khâu trong quá trình xây dựng.
							</p>
							<p>
								Sản phẩm được sử dụng rộng rãi từ những công trình phụ trợ nhỏ đến các công trình kiến
								trúc cao tầng, giá thành phù hợp với từng công trình. Hiện nay, gạch không nung đã khẳng
								định chỗ đứng vững chắc trong các công trình, nó đang dần trở nên phổ biến hơn và phù
								hợp với chiến lược phát triển vật liệu xây dựng không nung của Chính phủ
							</p>
						</div>
						<!--						<div class="tab-pane fade" id="tab-pane-2">-->
						<!--							<h4 class="mb-3">Additional Information</h4>-->
						<!--							<p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam-->
						<!--								invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod-->
						<!--								consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum-->
						<!--								diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam-->
						<!--								sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor-->
						<!--								aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam-->
						<!--								kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.-->
						<!--							</p>-->
						<!--							<div class="row">-->
						<!--								<div class="col-md-6">-->
						<!--									<ul class="list-group list-group-flush">-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Sit erat duo lorem duo ea consetetur, et eirmod takimata.-->
						<!--										</li>-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Amet kasd gubergren sit sanctus et lorem eos sadipscing at.-->
						<!--										</li>-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Duo amet accusam eirmod nonumy stet et et stet eirmod.-->
						<!--										</li>-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.-->
						<!--										</li>-->
						<!--									</ul>-->
						<!--								</div>-->
						<!--								<div class="col-md-6">-->
						<!--									<ul class="list-group list-group-flush">-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Sit erat duo lorem duo ea consetetur, et eirmod takimata.-->
						<!--										</li>-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Amet kasd gubergren sit sanctus et lorem eos sadipscing at.-->
						<!--										</li>-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Duo amet accusam eirmod nonumy stet et et stet eirmod.-->
						<!--										</li>-->
						<!--										<li class="list-group-item px-0">-->
						<!--											Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.-->
						<!--										</li>-->
						<!--									</ul>-->
						<!--								</div>-->
						<!--							</div>-->
						<!--						</div>-->
						<!--						<div class="tab-pane fade" id="tab-pane-3">-->
						<!--							<div class="row">-->
						<!--								<div class="col-md-6">-->
						<!--									<h4 class="mb-4">1 review for "Product Name"</h4>-->
						<!--									<div class="media mb-4">-->
						<!--										<img src="../upload/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"-->
						<!--											style="width: 45px;">-->
						<!--										<div class="media-body">-->
						<!--											<h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>-->
						<!--											<div class="text-primary mb-2">-->
						<!--												<i class="fas fa-star"></i>-->
						<!--												<i class="fas fa-star"></i>-->
						<!--												<i class="fas fa-star"></i>-->
						<!--												<i class="fas fa-star-half-alt"></i>-->
						<!--												<i class="far fa-star"></i>-->
						<!--											</div>-->
						<!--											<p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam-->
						<!--												ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod-->
						<!--												ipsum.</p>-->
						<!--										</div>-->
						<!--									</div>-->
						<!--								</div>-->
						<!--								<div class="col-md-6">-->
						<!--									<h4 class="mb-4">Leave a review</h4>-->
						<!--									<small>Your email address will not be published. Required fields are marked-->
						<!--										*</small>-->
						<!--									<div class="d-flex my-3">-->
						<!--										<p class="mb-0 mr-2">Your Rating * :</p>-->
						<!--										<div class="text-primary">-->
						<!--											<i class="far fa-star"></i>-->
						<!--											<i class="far fa-star"></i>-->
						<!--											<i class="far fa-star"></i>-->
						<!--											<i class="far fa-star"></i>-->
						<!--											<i class="far fa-star"></i>-->
						<!--										</div>-->
						<!--									</div>-->
						<!--									<form>-->
						<!--										<div class="form-group">-->
						<!--											<label for="message">Your Review *</label>-->
						<!--											<textarea id="message" cols="30" rows="5" class="form-control"></textarea>-->
						<!--										</div>-->
						<!--										<div class="form-group">-->
						<!--											<label for="name">Your Name *</label>-->
						<!--											<input type="text" class="form-control" id="name">-->
						<!--										</div>-->
						<!--										<div class="form-group">-->
						<!--											<label for="email">Your Email *</label>-->
						<!--											<input type="email" class="form-control" id="email">-->
						<!--										</div>-->
						<!--										<div class="form-group mb-0">-->
						<!--											<input type="submit" value="Leave Your Review" class="btn btn-primary px-3">-->
						<!--										</div>-->
						<!--									</form>-->
						<!--								</div>-->
						<!--							</div>-->
						<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid py-5">
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản Phẩm
				Khác</span></h2>
		<div class="row px-xl-5">
			<div class="col">
				<div class="owl-carousel related-carousel">
					<div class="product-item bg-light" th:each="prod : ${products}">
						<div class="product-img position-relative overflow-hidden">
							<a th:href="@{/product/{id}(id=${prod.id})}">
								<img class="img-fluid w-100" th:src="${prod.image}" alt="" style="height: 326px">
							</a>
						</div>
						<div class="text-center py-4">
							<a class="h6 text-decoration-none text-truncate"
							th:href="@{/product/{id}(id=${product.id})}">
								<span>Tên SP:</span>
								<span th:text="${product.name}"></span>
							</a>
							<div class="d-flex align-items-center justify-content-center mt-2">
								<h6>
									<span>Mã sản phẩm: </span> <span th:text="${product.productCode}"></span>
								</h6>
							</div>
							<div class="d-flex align-items-center justify-content-center mt-2">
								<h6 th:if="${product.price != null}">
									<span class="text-danger">Giá bán: </span> <span class="text-danger" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">5.000</span>
									 <span>vnđ/Viên</span>
								</h6>
								<h6 th:if="${product.price == null}">
									<span>Giá bán: Liên hệ</span>
								</h5>
							</div>
							<div class="d-flex align-items-center justify-content-center mb-1">
								<button class="btn btn-primary px-3">
									<span class="black-color">Liên hệ mua hàng: </span>
									<a class="black-color" th:text="${session.contactSession.phone}" th:href="${'tel:'+ session.contactSession.phone}"> 0978 414 433</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer" />
	<div th:replace="fragments/footer :: footer-js" />
</body>

</html>