<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Công Ty Gạch Phú Mỹ</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Free HTML Templates" name="keywords">
	<meta content="Free HTML Templates" name="description">
	<link th:href="@{/upload/favicon.ico}" rel="icon">
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-12">
				<nav class="breadcrumb bg-light mb-30">
					<a class="breadcrumb-item text-dark" th:href="@{/home}">Trang chủ</a>
					<span class="breadcrumb-item active">Sản phẩm</span>
				</nav>
			</div>
		</div>
	</div>
	<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm
		</span></h2>
	<div class="row px-xl-5">
		<div class="col-lg-3 col-md-4 col-sm-6 pb-1" th:each="product : ${products}">
			<div class="product-item bg-light mb-4">
				<div class="product-img position-relative overflow-hidden">
					<a th:href="@{/product/{id}(id=${product.id})}">
						<img class="img-fluid w-100" th:src="${product.image}" alt="" style="height: 326px" />
					</a>
				</div>
				<div class="text-center py-4">
					<a th:text="${product.name}" class="h6 text-decoration-none text-truncate"
						th:href="@{/product/{id}(id=${product.id})}">Gạch Không Nung
						Đặc 2 Lỗ Nhỏ</a>
					<div class="d-flex align-items-center justify-content-center mt-2">
						<h5><span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">5.000 </span>đ/Viên</h5>
						<!-- <h6 class="text-muted ml-2"><del>5.000</del></h6> -->
					</div>
					<div class="d-flex align-items-center justify-content-center mb-1">
						<a class="btn btn-primary" href="/contact">Liên hệ mua</a>
					</div>s
				</div>
			</div>
		</div>
	</div>
	</div>
	<div th:replace="fragments/footer :: footer" />
	<div th:replace="fragments/footer :: footer-js" />
</body>

</html>