<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
	<div th:fragment="slice">
		<!-- Carousel Start -->
		<div class="container-fluid mb-3">
			<div class="row px-xl-5">
				<div class="col-lg-8">
					<div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#header-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#header-carousel" data-slide-to="1"></li>
							<li data-target="#header-carousel" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item position-relative active" style="height: 430px;" th:each="slice : ${#session.getAttribute('sliceSession')}">
								<img class="position-absolute w-100 h-100" th:src="${slice.image}"
									style="object-fit: cover;">
								<div
									class="carousel-caption d-flex flex-column align-items-center justify-content-center">
									<div class="p-3" style="max-width: 700px;">
										<h2 class="display-4 text-white mb-3 animate__animated animate__fadeInDown"
											th:text="${slice.title}">Gạch
											Phú Mỹ</h2>
										<p class="mx-md-5 px-5 animate__animated animate__bounceIn"
											th:text="${slice.description}">Xây Vững niềm tin -
											Dựng uy tín vàng</p>
										<a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
											th:href="@{/product}">Xem sản phẩm</a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-lg-4">
					<div class="product-offer mb-30" style="height: 200px;">
						<img class="img-fluid" src="../img/Slice05.jpg" alt="">
						<div class="offer-text">
							<h6 class="text-white text-uppercase">Luôn có sẵn số lượng lớn</h6>
							<h3 class="text-white mb-3">Cam kết chiết khấu cao nhất</h3>
							<a th:href="@{/product}" class="btn btn-primary">xem sản phẩm</a>
						</div>
					</div>
					<div class="product-offer mb-30" style="height: 200px;">
						<img class="img-fluid" src="../img/Slice06.jpg" alt="">
						<div class="offer-text">
							<h6 class="text-white text-uppercase">Tư vấn thi công miễn phí</h6>
							<h3 class="text-white mb-3">Hỗ trợ gọi xe vận chuyển tận nơi</h3>
							<a th:href="@{/product}" class="btn btn-primary">Sản phẩm</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>