<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Công Ty Gạch Phú Mỹ</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Free HTML Templates" name="keywords">
	<meta content="Free HTML Templates" name="description">
	<link th:href="@{/img/favicon.ico}" rel="icon">
	<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />
	<div th:replace="fragments/slice :: slice" />
	<div class="container-fluid pt-5 pb-3">
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm
				mới</span></h2>
		<div class="row px-xl-5">
			<div th:each="product : ${products}" class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<a th:href="@{/product/{id}(id=${product.id})}">
							<img class="img-fluid w-100" th:src="${product.image}" alt="" style="height: 326px" />
						</a>
						<!--<div class="product-action">
                             <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a> 
                        </div>-->
					</div>
					<div class="text-center py-4">
						<a class="h6 text-decoration-none text-truncate" th:text="${product.name}"
							th:href="@{/product/{id}(id=${product.id})}">Gạch Không
							Nung Đặc 2 Lỗ Nhỏ</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5> <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">5.000 </span> đ/Viên</h5>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<a class="btn btn-primary" href="/contact">Liên hệ mua</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid pt-5">
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">ƯU
				ĐIỂM VƯỢT TRỘI CỦA GẠCH KHÔNG NUNG</span></h2>
		<div class="row px-xl-5 pb-3">
			<div th:each="advantage : ${advantages}" class="col-lg-3 col-md-6 col-sm-12 pb-1">
				<div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
					<h2 class="fa fa-check text-primary m-0 mr-3"></h2>
					<h5 th:text="${advantage.name}" class="font-weight-semi-bold m-0">SIÊU CÁCH ÂM</h5>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/vendor :: vendor" />
	<div th:replace="fragments/footer :: footer" />
	<div th:replace="fragments/footer :: footer-js" />

</body>

</html>